<html>
    <head>
        <title> Mon fichier</title>
    </head>
    <body>
        <h1> Fichier <small>HTML</small></h1>

        <h2>Formulaire</h2>
        <form method="POST" action="/form">
            <input type="email" name="email" placeholder="email"> <br>
            <input type="password" name="password" placeholder="mot de passe"> <br>
            <button type="submit">Connexion</button>
        </form>

        <h2> Voici mon image</h2>
        <img src="/images/dragon-1.jpg" width="200px">
    </body>
</html>